footer {
  background-color: var(--txtColor1);
  margin-top: 2rem;
  padding: 2rem;
}
footer .footer {
  width: 300px;
  margin: 0 auto;
  h2 {
    color: aliceblue;
    width: max-content;
    margin: 0 auto;
  }
  ul {
    display: flex;

    margin: 0 auto;
    li {
      margin: 0.6rem;
    }
  }
  span {
    color: antiquewhite;
  }
  p {
    width: max-content;
    margin: 1rem auto;
  }
  i {
    font-size: 30px;
  }
}
