body {
  background-color: var(--bgHome);
}

.hero .imge {
  width: 300px;
  margin: 0 auto; 
  animation-name: ToUp;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}


.hero .HeroContent {
  width: 310px;
  margin: auto;
}

.hero .HeroContent p {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
 
}
.hero .HeroContent h3 {
  margin-bottom: 1rem;
 
}
.hero .HeroContent h3 + h1 {
  margin: 0 auto;
}
.hero .HeroContent h3 + h1 + h1 {
  margin: 0 auto;
  color: var(--txtColor1);
}

.hero .heroButtons {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  a {
    margin: 0 auto;
    width: 60%;
  }
  button {
    width: 150px;
    margin: 0 auto;
  }
}

/*  Hero Icons */

.heroIcons {
  display: flex;

  margin: 0 auto;
  width: 250px;
}
.heroIcons .icon {
  a {
    font-size: 30px;
  }
  margin: 1rem;

  animation-name: ToUp;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.heroIcons .icon:nth-of-type(1) {
  animation-delay: 0.3s;
}
.heroIcons .icon:nth-of-type(2) {
  animation-delay: 0.9s;
}
.heroIcons .icon:nth-of-type(3) {
  animation-delay: 1.5s;
}
.heroIcons .icon:nth-of-type(4) {
  animation-delay: 2.1s;
}

@keyframes ToUp {
  from {
    transform: translateY(280px);
  }

  to {
    transform: translateX(0px);
  }
}


/*************************         Media       ************/

@media (width>1200px) {
  body {
    background-color: var(--bgContent);
  }
  .hero {
    display: flex;
    margin-top: 4rem;

    height: 75dvh;
  }
  .hero .HeroContent {
    order: 1;
    margin: 0 auto;
    height: 60dvh;
    align-content: center;
    h3 {
      margin: 0;
    }
  }
  .hero .imge {
    margin: 0 auto;
    order: 2;
    height: 45dvh;
    width: 350px;
  }

  .imge {
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      box-shadow: 4px 4px 3px 3px;
    }
  }

  .heroIcons {
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .hero h3 {
    color: blue;
    font-size: 40px;
  }
}
