body {
  background-color: var(--bgHome);
}
.hero {
  p {
    width: 370px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  
}
.hero .me {
  width: 300px;
  margin: 0 auto;

  animation-name: boxAnim;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  /* animation-delay: -1s; */
  animation-fill-mode: both
}

@keyframes boxAnim {
  from {
    transform: translateY(280px);
  }

  to {
    transform: translateX(0px);
  }
}


.hero .content {
  width: 230px;
  margin: auto;
}
.hero .content h3 {
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}
.hero .content h3 + h1 {
  margin-left: 3rem;
}
.hero .content h3 + h1 + h1 {
  margin-left: 1rem;
  color: var(--txtColor1);
}

.hero .heroButtons {
  width: 330px;
  margin: 0 auto;
  margin-top: 1rem;
  /* background-color: black; */
}

/*  Hero footer */

.heroFooter {
  /* height: 30dvh; */
  display: flex;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  width: 250px;
  /* margin-top: 1.5rem; */
}
.heroFooter .icon {
  a {
    font-size: 30px;
  }
  margin: 1rem;

          animation-name: boxAnim;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: both
}
.heroFooter .icon:nth-of-type(1){
   animation-delay: 0.3s;
}
.heroFooter .icon:nth-of-type(2){
   animation-delay: 0.9s;
}
.heroFooter .icon:nth-of-type(3){
   animation-delay: 1.5s;
}
.heroFooter .icon:nth-of-type(4){
   animation-delay: 2.1s;
}

/*************************         Media       ************/

@media (width>1200px) {
  body {
    background-color: var(--bgContent);
  }
  .hero {
    display: flex;
    margin-top: 4rem;
    /* background-color: antiquewhite; */
    height: 75dvh;
  }
  .hero .HeroContent {
    order: 1;
    margin: 0 auto;
    height: 60dvh;
    align-content: center;
    h3{
      margin: 0;
    }
  }
  .hero .me {
    margin: 0 auto;
    order: 2;
    height: 45dvh;
    width: 350px;

    /* background-color: aquamarine; */
  }

  .me {
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      box-shadow: 4px 4px 3px 3px;
    }
  }

  .heroFooter {
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .hero h3 {
    color: blue;
    font-size: 40px;
  }
}
